<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.seniordesign.studentorgmanager"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.seniordesign.studentorgmanager.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.seniordesign.studentorgmanager.MainActivity"
            android:label="@string/title_activity_homepage" >
        </activity>
        <activity
            android:name="com.seniordesign.studentorgmanager.RosterActivity"
            android:label="@string/title_activity_roster" >
        </activity>
        <activity
            android:name="com.seniordesign.studentorgmanager.NewUserActivity"
            android:label="@string/title_activity_organization_list"
            android:parentActivityName="com.seniordesign.studentorgmanager.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.seniordesign.studentorgmanager.MainActivity" />
        </activity>
        <activity
            android:name="com.seniordesign.studentorgmanager.AllUsersActivity"
            android:label="@string/title_activity_all_users" >
        </activity>
        <activity
            android:name="com.seniordesign.studentorgmanager.EditUserActivity"
            android:label="@string/title_activity_edit_users" >
        </activity>
        <activity
            android:name="com.seniordesign.studentorgmanager.OrgsPrivateActivity"
            android:label="@string/title_activity_orgs"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name="com.seniordesign.studentorgmanager.CreateUserActivity"
            android:label="@string/title_activity_create_user" >
        </activity>
        <activity
            android:name="com.seniordesign.studentorgmanager.CreateOrgActivity"
            android:label="@string/title_activity_create_org" >
        </activity>
        <activity
            android:name="com.seniordesign.studentorgmanager.OrgsBrowseActivity"
            android:label="@string/title_activity_orgs_browse" >
        </activity>
        <activity
            android:name="com.seniordesign.studentorgmanager.OrgsPublicActivity"
            android:label="@string/title_activity_orgs_public" >
        </activity>
        <activity
            android:name="com.seniordesign.studentorgmanager.ProfileActivity"
            android:label="@string/title_activity_profile" >
        </activity>
        <activity
            android:name="com.seniordesign.studentorgmanager.NewsFeedActivity"
            android:label="@string/title_activity_news_feed" >
        </activity>
        <activity
            android:name="com.seniordesign.studentorgmanager.MailBoxActivity"
            android:label="@string/title_activity_mail_box" >
        </activity>
        <activity
            android:name="com.seniordesign.studentorgmanager.MessageViewActivity"
            android:label="@string/title_activity_message_view" >
        </activity>
        <activity
            android:name="com.seniordesign.studentorgmanager.PublicProfileActivity"
            android:label="@string/title_activity_public_profile" >
        </activity>
        <activity
            android:name="com.seniordesign.studentorgmanager.ReportAbsenceActivity"
            android:label="@string/title_activity_report_absence" >
        </activity>
        <activity
            android:name="com.seniordesign.studentorgmanager.EventActivity"
            android:label="@string/title_activity_event" >
        </activity>
        <activity
            android:name="com.seniordesign.studentorgmanager.ViewAbsencesActivity"
            android:label="@string/title_activity_view_absences" >
        </activity>
    </application>

</manifest>
